.homeContact {
  background-color: rgb(205, 7, 30);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25%;
  height: 12vh;
}

.homeContact a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem;
}
