.contactInfo {
  position: fixed;
  top: 30rem;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  z-index: 1;
  background-color: var(--main-red);
  color: white;
  text-align: center;
  padding: 1rem;
}

.contactInfo div {
  width: 60%;
  margin: auto;
}

.contactInfo h1 {
  font-size: 3rem;
  line-height: 3rem;
}

.contactInfo a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
